*
{
    margin: 0;
    padding: 0;
}

h1
{
    margin-top: 40px;
    font-size: 6vmin;
}
body
{
    background-color: #358B84;
    text-align: center;
}
.container
{
    margin-top: 10px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game
{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap: 1.5vmin;
}

.box
{
    background-color: #d72885;
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 9vmin;
    color: black;
}

#Reset
{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn
{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg
{
    color: antiquewhite;
    font-size: 8vmin;
}
.msg-container
{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
.hide
{
   display: none; 
}